.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.qr-wrapper {
  width: 308px;
  height: 300px;
  border-radius: 8px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  @media (max-width: 600px) {
    width: 100%;
    border-radius: 0;
  }
}

.section {
  padding: 16px 16px;
  width: 100%;
  @media (min-width: 601px) {
    width: 600px;
  }
}

.green-section {
  background-color: #009a4e;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.input {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  padding-left: 12px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid rgb(137, 151, 155);
  transition: border-color 150ms ease-in-out 0s;
  outline: none;
  color: rgb(33, 49, 60);
  background-color: rgb(255, 255, 255);
  padding-right: 12px;

  :hover{
    box-shadow: rgb(231 238 236) 0px 0px 0px 3px;
  }
}

.text {
  font-family: "Montserrat", sans-serif;
}

.label-wrapper {
  margin-bottom: 6px;
}

.range {
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remover a aparência padrão */
  width: 20px; /* Largura do thumb */
  height: 20px; /* Altura do thumb */
  background: #009a4e; /* Cor do thumb */
  cursor: pointer; /* Cursor ao passar por cima */
  border-radius: 50%; /* Tornar o thumb redondo */
  margin-top: -7px;
}

/* Para Firefox */
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #009a4e;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -7px;
}

/* Ajuste geral do input range */
input[type="range"] {
  -webkit-appearance: none; /* Remover a aparência padrão */
  width: 100%; /* Largura do input range */
  background: #ddd; /* Cor da trilha */
  height: 5px; /* Altura da trilha */
  border-radius: 5px; /* Bordas arredondadas */
  outline: none; /* Remover borda de foco */
}

/* Cor da trilha ao ser ativa */
input[type="range"]::-webkit-slider-runnable-track {
  background: #ddd;
  height: 5px;
  border-radius: 5px;
}
input[type="range"]::-moz-range-track {
  background: #ddd;
  height: 5px;
  border-radius: 5px;
}

/* Esconder o input original */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: -5px;

}

/* Estilo do input quando está marcado */
input[type="radio"]:checked {
  border-color: #009a4e; /* Cor da borda quando marcado */
}

input[type="radio"]:checked::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #009a4e; /* Cor verde */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilo para foco */
input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 3px #009a4e;
}

.inline-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(to right, #009a4e 0%, #008d46 50%, #007e3f 100%);
  color: #fff;
  width: 100%;
}

.party {
  position: relative;
}

.party:before, .party:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,
  #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -1;
  animation: steam 20s linear infinite;
  border-radius: 8px;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.party:after {
  filter: blur(20px);
}

.divider {
  border-bottom: 1px solid #d5d5d5;
  width: 100%;
}

.disclaimer {
  font-size: 14px;
  color: gray;
  text-align: center;
}
